* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 12px;
}

header .options {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    color: black;
}

header .options {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px - 90px); 
    margin: 0;
}

.img {
    height: 200px;
    width: 400px;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

main .container figure{
    max-height: -92px;
}

main .container figure img{
    height: 100%;
}

main .container .search {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 40px;
    width: 450px;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 24px;
}

main .container .search button {
    background-color: transparent;
    border: none;
}

main .container .search input {
    border: none;
    background-color: transparent;
    width: 100%;
    color: black;
}

main .container .search-butons {
    display: flex;
    gap: 10px;
}

main .container .search-butons button{
    border: none;
    padding: 12px;
    border-radius: 4px;
}

main .container p {
    font-size: small;
}

.search-logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.micro {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(img/microphone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    height: 90px;
    flex-direction: column;
    display: flex;
}

footer section {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


footer section.more {
    display: flex;
    justify-content: space-between;
}

footer section.more div {
    display: flex;
    gap: 12px;
}

footer section.more div a {
    text-decoration: none;
    color: black;
}